<h1>Alias</h1>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Source Email</th>
      <th>Destination Email</th>
      <th>Enabled</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= "#{@alias.source_username}@#{@alias.source_domain}" %></td>
        <td><%= "#{@alias.destination_username}@#{@alias.destination_domain}" %></td>
        <td>
          <% if @alias.enabled %>
            <i class="checkmark icon"></i>
          <% else %>
            <i class="remove icon"></i>
          <% end %>
        </td>
        <td><%= link_to 'Edit', edit_alias_path(@alias) %></td>
        <td><%= link_to 'Destroy', @alias, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  </tbody>
</table>
