@import "../../styles/variables.scss";

.icon {
  width: 24px;
}

.defaultPrimary {
  fill: $grey-lt-3;
}

.defaultSecondary {
  fill: $grey-dk-1;
}

.primaryPrimary {
  fill: $primary-lt-2;
}

.primarySecondary {
  fill: $primary-dk-2;
}

.secondaryPrimary {
  fill: $secondary-lt-2;
}

.secondarySecondary {
  fill: $secondary-dk-1;
}

.greenPrimary {
  fill: $green-lt-2;
}

.greenSecondary {
  fill: $green-dk-1;
}

.redPrimary {
  fill: $red-lt-2;
}

.redSecondary {
  fill: $red-dk-2;
}

.rotate90 {
  transform: rotate(90deg);
}
