@import "../../../../styles/variables.scss";

.formField {
  display: grid;
  margin: 10px 0;

  &.inlineField {
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    & div {
      display: grid;
      margin: 0 auto;
    }
  }

  label {
    font-size: 1.2rem;
    font-weight: 700;
    color: $grey-dk-1;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  input,
  select {
    width: 100%;
    height: 40px;
    border: none;
    padding: 10px 8px;
    background: $white;
    border: 2px solid $grey-lt-3;
    border-radius: 5px;
    font-size: 1.4rem;
  }
}
