@import "../../styles/variables.scss";

.active {
  background: $secondary-lt-2;
  border-radius: 100%;

  a {
    color: $secondary-dk-2 !important;
  }
}

.pagination {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, auto));
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin: 2rem 0;

  li {
    color: $primary-dk-3;
    &.next,
    &.previous {
      background: none;
    }

    span {
      font-weight: bold;
    }

    a {
      outline: none;

      display: grid;
      align-content: center;
      justify-content: center;
      justify-items: center;
      padding: 2px 10px;
      line-height: 24px;

      &:hover {
        cursor: pointer;
      }
    }
    margin-right: 10px;
    svg {
      margin: 0;
      padding: 0;
    }
  }
}
