@import "../../styles/variables.scss";

.navigation {
  background: $white;

  .innerNav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 50px;

    .brand {
      font-size: 2rem;
      font-weight: bold;
    }

    ul {
      list-style: none;
      display: flex;

      li {
        margin-right: 25px;

        a {
          font-weight: 700;
          padding: 8px 15px;
          &.active {
            background: $primary-lt-3;
            border-radius: 20px;
            color: $primary-dk-3;
          }
        }
      }
    }

    .profile {
      justify-self: end;
      display: grid;
      grid-template-columns: auto auto;
      justify-content: center;
      align-items: center;
      grid-gap: 10px;

      div {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
        grid-gap: 3px;
        background: $grey-lt-3;
        border-radius: 50px;
        padding: 2px;

        span {
          font-weight: 600;
          color: $grey-dk-2;
          padding-right: 10px;
          text-transform: capitalize;
        }
      }

      svg:hover {
        cursor: pointer;
      }
    }

    &.login {
      grid-template-columns: 1fr auto;
    }
  }
}
