.app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;

  main {
    padding: 25px 0;
  }
}

.appLogin {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.notFound {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
}
